*{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
  color:#bf1650;
}
.active{
  border:1px solid #bf1650;
}
.nav{
  display:flex;
  justify-content:space-around;
  height:80px;
  width:100%;
  background-color:#081229;
  color:#bf1650;
  font-size:22px;
  align-items:center;
}
.right> ul{
  display:flex;
 
  list-style-type:none;
}
.right> ul>li{
  margin:0 20px;
}

/* header part of home */
/* Base Styles */

:root {
	--background-color: #fff;
	--text-color: #000;
	--footer-text-color: #0007;
	--accent-color: #f60;
}

@media screen and (prefers-color-scheme: dark) {
	/* For Dark Theme */
	:root {
		--background-color: #222;
		--text-color: #fff;
		--footer-text-color: #fff7;
		--accent-color: #fb4;
	}
}

html {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
}

body {
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-color);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 3.5rem);
}

footer {
	width: 100%;
	height: 3.5rem;
	color: var(--footer-text-color);
	font-style: italic;
	text-align: center;
}

footer p {
	margin: 0;
}

/* The Scrolling Header */

@keyframes h1-scroll-behavior {
	0%,
	5% {
		transform: translate(0);
	}
	25%,
	30% {
		transform: translate(-100%);
	}
	50%,
	55% {
		transform: translate(-200%);
	}
	75%,
	80% {
		transform: translate(-300%);
	}
	100% {
		transform: translate(-400%);
	}
}

h1 {
	font-size: 1.8rem;
	text-align: center;
}

.h1-scroll-div {
	display: block;
	width: 10em;
	height: 3em;
	margin: 0 auto;
	overflow-x: clip;
	color: var(--accent-color);
}

.h1-scroll-content {
	display: flex;
	flex-flow: row nowrap;
	animation: 4s cubic-bezier(0, 0, 0.25, 1) infinite h1-scroll-behavior;
}

.h1-scroll-content div {
	min-width: 100%;
}

/* Adjust for Larger Screens */

@media (min-width: 480px) {
	h1 {
		font-size: 2.5rem;
	}
}

@media (min-width: 600px) {
	h1 {
		font-size: 3rem;
	}
}

/* Adjust for Reduced Motion */

@media screen and (prefers-reduced-motion), print {
	.h1-scroll-div {
		width: 17.5em;
		font-size: 0.6em;
		text-overflow: ellipsis
		white-space: nowrap;
	}

	.h1-scroll-content {
		display: block;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		animation: none;
	}

	.h1-scroll-content div {
		display: inline;
	}

	.h1-scroll-content div::after {
		content: ", "
	}
}

/* footer */

