.list{
  height:80px;
  background-color:skyblue;
  width:100%;
  border:2px solid black;
}
.list> ul{
  display:flex;
  justify-content:space-around;
  list-style:none;
  text-transform:capitalize;
}
.search-bar{
  width:50%;
  margin:auto;
  background:skyblue;
  text-align:center;
  height:40px
}